html {
  height: 100%;
}

body {
  background-color: $bg-color;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
}

.container {
  max-width: $container-max-width;
  min-width: $min-width;
  padding-left: 5%;
  padding-right: 5%;
  margin: 0 auto;
}

.content {
  padding-top: 32px;
  padding-bottom: 32px;
}
